body{
    font-family: 'Poppins', sans-serif;
}

input {
    border: none; /* Removes the default border */
    margin: 0;
  }
  
  input:focus {
    outline: none /* Removes the border when the input is clicked */
  }

  textarea {
    border: none;
    resize: none;
    outline: none;
}
    button{
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
body{
    width:100%;
    height: 100vh;
    overflow-x: hidden;
}


/* nav-bar */
.navbar-color{
    background-color: #733EE2;
    overflow-x: hidden;
}
.logo{
    width: 100%;
    height: 50px;
}

/* contact */

.logo-image{
    /* height: 18%; */
    width:80%;
    margin-top: 50px;
}

.contact-title{
    font-size: 60px;
    color: #0000004D;
    display: flex;
    align-content: center;
    justify-content: right;
    margin-top: 15px;

}


.contact-title-2{
    font-size: 35px;
    color: #0000004D;
    margin-top: 50px;

}

.contact-sub-title{
    font-size: 40px;

}
.contact-sub-title-2{
    font-size: 30px;

}

.des-center{
    display: flex;
    align-content: center;
    justify-content: center;
    
}
.contact-icons{
    width:10%;
    margin-right: 20px;

}

.contact-feedback{
    background-color: #733EE2;
    height: 100vh;
    color: white;
}

.contact-feedback-title{
    font-size: 38px;
}

.contact-input{
    border-radius: 8px;
    padding: 8px 10px;
    width:400px
    
    
}

.contact-button{
    background: white;
    color: black;
    border-radius: 15px;
    max-width: 100px;
}


.contact-image{
    height: 100vh;
    width:640px;
    margin-left: -17px;
}
.footer{
    overflow-x: hidden;
    margin-top: 60px;
    font-size: 22px;
    background-color: #733EE2;
}
.icon-size{
    font-size: 22px;
    font-size: 600;
}

/* media-query */

@media only screen and (max-width: 768px) {
    body{
        overflow-x: hidden;
    }
    .logo-image{
        width: 60%;

    }
    .mb-center{
        display: flex;
        align-content: center;
        justify-content: center;
    }
    .contact-title{
        font-size: 40px;
        color: #0000004D;
        display: flex;
        align-content: center;
        justify-content: center;
    }
    .contact-title-2{
        font-size: 14px;
        color: #0000004D;
        margin-top: 38px;
        display: flex;
        align-content: center;
        justify-content: center;
    }
    
    .contact-sub-title{

        font-size: 12px;
        text-align: center;

    }
    .contact-sub-title-2{
        font-size: 12px;
    
    }
    
    .contact-icons{
        width:8%;
        margin-right: 20px;
    }

    .contact-feedback{
        background-color: #733EE2;
        height: 70vh;
        color: white;
    }
    .contact-feedback-title{
        font-size: 14px;
    }

    .contact-input{
        border-radius: 8px;
        padding: 8px 10px;
        width:250px        
        
    }
    .contact-image{
        display: none;

    }
    .footer{
        overflow-x: hidden;
        font-size: 14px;
        margin-top: 60px;
        background-color: #733EE2;
    }

  }